.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}
.card {
  position: relative;
  width: 420px;
  height: 250px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  overflow: hidden;
}
.card-content {
  position: relative;
  z-index: 1;
  padding: 20px;
}
h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
h2 {
  margin: 2px 0 15px;
  font-size: 16px;
  color: #666;
}
.contact-info {
  font-size: 14px;
  color: #444;
}
.contact-info p {
  margin: 5px 0;
}
.icons-list {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 16px;
}
.icon {
  margin-right: 5px;
  color: #000;
}
.shape {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
}
.green {
  background-color: rgba(178, 182, 178, 0.3);
  top: -50px;
  right: -50px;
}
.orange {
  background-color: rgba(90, 89, 88, 0.3);
  top: -30px;
  right: 20px;
}
.purple {
  background-color: rgba(109, 106, 109, 0.3);
  bottom: -50px;
  right: -30px;
}
