.navbar {
  background-color: transparent;
  height: 3.5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top: 15px; */
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.navbar li {
  /* flex: 1; */
}

.navbar a {
  position: relative;
  display: inline-block;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 6px 8px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #b3b2b0;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #000;
  /* color: #fff; */
}

.navbar a:hover::after {
  width: 100%;
}
@media (max-width: 600px) {
  .navbar {
    display: none;
  }
}
