.blogs-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  height: 100vh;
  max-width: 70rem;
  margin: 0 auto;
}

.blog-container {
  width: 22rem;
  height: 10rem;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 1.2s ease;
}
.blog-container:hover {
  background-color: #000;
  color: #fff;
  border: 3px dashed #fff;


}
.blog-container h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.blog-container a {
  font-size: 14px;
  font-weight: 600;
}
@media (max-width:600px) {

  .blogs-page {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: center; */
    
    gap: 1rem;
    max-height: 80vh;
    overflow-y: auto;
    max-width: 70rem;
    /* margin: 0 auto; */
  }
  
}
